
.main-content {
    width: calc( 100% - 354px );
    height: 100vh;
    min-height: 100vh;
}
.main-content-header{
    margin-bottom: 54px;
}
.main-content-header h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 54px;
}

.main-content-header p {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.main-content-header p span {
    color: var(--dark);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.cards-container{
    margin-bottom: 36px;
}
.cards-container .top{
    margin-bottom: 20px;
}
.cards-container .top h4 {
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
}
.card>svg{
    position: absolute;
    left:0;
    top: 0
}
.card>svg.last-line{
    position: absolute;
    left:0;
    top: auto;
    bottom: 0
}
.card h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
}

.card p {
    color: var(--gray);
font-size: 16px;
font-weight: 400;
line-height: 28px; 
}
.card .button{
    width: 200px;
}
.card .progress{
    width: 104px;
    height: 104px;
    background-color: red;
}
.card-title{
    margin-bottom: 36px;
}
.card-content{
    width: 524px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    
}
.card-content-section{
    gap: 12px;
    padding: 12px 20px
}
.card-content-section .label{
    height:100%;
    aspect-ratio: 1;
}
.card-content-section h6{
    color: var(--gray);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 185.714% */
}
.card-content-section p{
    color: var(--dark);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
}