.main-content {
    width: calc(100% - 354px);
    /* height: 100vh; */
    min-height: 100vh;
}

.main-content-header {
    margin-bottom: 54px;
}

.main-content-header h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 54px;
}

.main-content-header p {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    span{
        color: var(--dark);

    }
}

.cards-container {
    margin-bottom: 36px;
}

.cards-container .top {
    margin-bottom: 20px;
}

.cards-container .top h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.card {
    overflow: hidden;
}

.card>div>svg {
    position: absolute;
    left: 0;
    top: 0
}

.card>div>svg.last-line {
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0
}

.card h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
}

.card p {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.card .button {
    width: 200px;
}

.card .progress {
    width: 104px;
    height: 104px;
    background-color: red;
}

.card-title {
    margin-bottom: 36px;
}

.card-title>img {
    width: 233px;
    position: absolute;
    bottom: -38px;
    left: -50px
}

.card-content {
    width: 524px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;

}

.card-content-section {
    gap: 12px;
    padding: 12px 20px
}

.card-content-section .label {
    height: 100%;
    aspect-ratio: 1;
}

.card-content-section h6 {
    color: var(--gray);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

.card-content-section p {
    color: var(--dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 175% */
}

.cards {
    overflow-x: auto;
    display: flex;

}

.cards::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cards {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.card {
    flex-shrink: 0;
    width: 100%;
    margin-left: 24px;
}

.card:last-child {
    margin-left: 0;
}

.finish-tests .card {
    width: calc((100% - 24px)/2);
    margin-left: 24px;
    min-width: 262px;

}

.finish-tests .card:last-child {
    margin-left: 0;

}

.finish-tests .card svg {
    right: 0
}

.finish-tests .card img {
    width: 158px;
    height: auto
}

.finish-tests .card h4 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    /* 177.778% */
}

.finish-tests .card a.show-test {
    top: 24px;
    left: 24px;
    width: fit-content;
    min-width: fit-content;
    padding: 14px
}


@media (max-width: 1200px) {
    .card-content {
        width: 100%;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }
    .card-title>img{
        display: none;
    }
    .card-content-section {
        padding: 8px
    }

    .card-content-section .label {
        width: 100%;
        height: fit-content;
        aspect-ratio: unset;
        padding: 10px
    }

    .card-content-section p {
        text-align: center !important;
    }
}
@media (max-width: 992px) {
    .main-content {
        width: 100%;
    }
    .main-content-header{
        padding-left: 12px !important;
        padding-right: 12px !important;
        margin-bottom: 28px;
    }
    .main-content-header h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;
    }

    .main-content-header p {
        color: var(--gray);
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        span {
            color: var(--dark);
        }
    }

    .user-test-cards {
        gap: 12px;
        margin-top: 12px
    }

    .user-test-cards .user-test-card {
        flex: 1 0 0;
    }

    .user-test-card h5 {
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
    }

    .user-test-card p {

        color: var(--gray);
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        span {
            color: var(--dark);
            font-size: 36px;
            font-weight: 300;
            line-height: 56px;
        }
    }

    .cards-container {
        margin-top: 32px;
    }

    .cards-container .top {
        margin-bottom: 12px;
    }

    .cards-container .top h4 {
        font-size: 14px;
        line-height: 26px;
        /* 185.714% */
    }

    div:has(.btn-nav) {
        gap: 12px !important;
    }

    .card {
        overflow: hidden
    }

    .card>div>svg {
        bottom: 0;
        left: 0;
        top: auto
    }

    .card .card-img {
        position: absolute !important;
        bottom: -25px;
        left: -11px;
        width: 122px !important;
    }

    .card .card-img img {
        width: 100%
    }

    .card .button {
        width: 148px;
        padding: 10px;
        height: auto;
        font-size: 14px;
        line-height: 26px;
    }

    .card h5 {
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
    }

    .card p {
        color: var(--gray);
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    .cards.firstCards {
        width: calc(100% + 24px)
    }

    .cards.firstCards .card {
        width: calc(100% - 24px);
        margin-left: 8px
    }

    .cards.firstCards .card:last-child {
        margin-left: 24px
    }

   

    .card-title {
        margin-bottom: 24px;
    }

    .card-title>img {
        display: block;
        width: 86px;
        position: relative;
        bottom: unset;
        left: unset
    }

    

    .cards.finish-tests div>svg {
        top: 0;
        bottom: auto;
    }

    .cards.finish-tests {
        width: calc(100% + 24px);
    }

    .cards.finish-tests .card {
        width: 262px;
        margin-left: 12px;
    }

    .finish-tests .card img {
        width: 126px;
        position: relative;
        z-index: 2;
    }

    .finish-tests .card h4 {
        margin-top: 18px;
        margin-bottom: 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        /* 185.714% */
    }

    .finish-tests .card a.show-test {
        padding: 11px;
        top: 16px;
        left: 16px;
    }

    .finish-tests .card a.show-test svg {
        width: 24px;
        height: 24px
    }

    .cards-container:last-child {
        margin-bottom: 0;
    }
}