:root {
    --primary: #159398;
    --primary-hover: #00A0A6;
    --primary-weak: #D1E4E5;
    --primary-weaker: #D9E7E8;
    --primary-weakest: #F3F9FA;

    --secondary: #FAA836;
    --secondary-weakest: #FFF9F1;

    --destructive: #D42659;
    --destructive-hover: #E32B61;
    --destructive-weake: #EEDADF;
    --destructive-weakesr: #F0E2E6;
    --destructive-weakest: #FDF6F8;

    --dark: #231F20;
    --gray: #878F97;
    --gray-40: #CFD2D5;
    --gray-25: #E1E3E5;
    --gray-10: #F3F4F5;

    --low-contrast: #FBFBFC;
    --light: #FFFFFF;

    --radius-8: 8px;
    --radius-12: 8px;
    --radius-15: 15px;
    --radius-20: 20px;
    --radius-25: 25px;
    --radius-32: 32px;
    --radius-max: 999px;
    --radius-round: 50%;


    --main-font: Dana
}

body {
    font-family: var(--main-font);
    background-color: var(--low-contrast);
    overflow-x: hidden;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;

}

a {
    text-decoration: none;
    color: var(--dark);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    padding: 0;
    margin: 0;
}

p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.row {
    margin: 0
}

.button {
    border-radius: 15px;
    border: 1px solid var(--gray-25);
    background: var(--light);
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.button.button-primary {
    color: var(--light);
    background: var(--primary);
    border: none
}

.button.button-destructive {
    color: var(--light);
    background: var(--destructive);
    border: none
}

.label {
    padding: 6px 14px;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 999px;
}

.label-secondary {
    background: var(--secondary-weakest);
    color: var(--secondary);
}

.label-primary {
    background: var(--primary-weakest);
    color: var(--primary);
}

.label-destructive {
    background: var(--destructive-weakest);
    color: var(--destructive);
}
.label-dark {
    background: var(--low-contrast);
    color: var(--dark);
}
.label-gray {
    color: var(--gray);
    border: 1px solid var(--gray-10);
    background: var(--low-contrast);
    padding: 12px;
}
.label.count-comment{
    border: 1px solid var(--gray-10);
    background: var(--low-contrast);
    padding: 12px;
}


.border {
    border: 1px solid var(--gray-25);
}

.border-gray-10 {
    border: 1px solid var(--gray-10);
}

.border-8 {
    border-radius: 8px;
}

.border-25 {
    border-radius: 25px;
}

.border-20 {
    border-radius: 20px;
}

.border-15 {
    border-radius: 15px;
}

.text-destructive {
    color: var(--destructive)
}
.primary {
    color: var(--primary)
}

body {
    font-family: var(--main-font);
    background-color: var(--low-contrast);
    min-height: 100vh;
}

nav {
    background-color: var(--light);
    border-right: 1px solid var(--gray-10);
    width: 288px;
    min-height: 100vh;
    top: 0;
}

.logo-container {
    margin-top: 49px;
    margin-bottom: 69px;
}

nav ul li {
    border-right: 4px solid transparent;
}

nav ul li::after {
    content: '';
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(270deg, rgba(21, 147, 152, 0.10) 0%, rgba(21, 147, 152, 0.00) 100%);
    max-width: 0;
    transition: 1s;
    z-index: -1;
}

nav ul li.active::after {
    width: 100%;
    max-width: 100%
}

nav ul li a {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    gap: 12px;
}

nav ul li.active {
    border-right: 4px solid var(--primary);
}

nav ul li.active a {
    font-weight: 500;
}

nav ul li.active a svg path {
    fill: var(--primary)
}

nav .logout {
    bottom: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    gap: 12px;
}

header {
    padding: 12px 24px;
    background-color: var(--light);
    border-bottom: 1px solid var(--gray-10);
    z-index: 99;
}

.profile-img {
    width: 58px;
    height: 58px;
}

.profile-img img {
    width: 100%;
}

.profile-name {
    gap: 6px;
}

.profile-name h3 {
    overflow: hidden;
    color: var(--Text-tx-high-contrast, #231F20);
    text-align: right;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    /* 185.714% */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.profile-name p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: var(--gray);
    text-align: right;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    /* 200% */
}

.buttons {
    gap: 12px;
}

.charge-code {
    border: none;
    padding: 2px;
    border-radius: 15px;
    background: radial-gradient(67.77% 62.38% at 30.06% 4.36%, rgba(255, 255, 255, 0.21) 0%, rgba(250, 168, 54, 0.07) 100%), linear-gradient(255deg, #FAA836 2.62%, #159398 80.51%);
    background-blend-mode: overlay, normal, normal;
    box-shadow: 0px 4px 44px 0px rgba(39, 42, 61, 0.10);
}

.charge-code span {
    background-color: var(--light);
    color: var(--dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 14px;
    padding: 10px 24px;
    display: inline-block
}

.mobile-logout {
    padding: 11px;
    border-radius: 15px;
    border: 1px solid var(--destructive-weake);
    background: var(--light);
}

/* --------- */
main {
    width: calc(100% - 288px);
    margin-right: 288px;
    
}

@media (max-width: 992px) {
    body {
        margin-bottom: 100px
    }

    nav {
        min-height: auto;
        height: fit-content;
        bottom: 0 !important;
        top: auto;
        width: 100%;
        padding: 0 24px;
        z-index: 10;
        border-top: 1px solid var(--gray-10);
        background: var(--light);
        box-shadow: 0px -8px 44px 0px rgba(39, 42, 61, 0.10);
    }

    nav ul {
        justify-content: space-between;
        align-items: center;

    }

    nav ul li {
        flex: 1 0 0;
        border-right: none;
        border-bottom: 4px solid transparent;
        padding: 12px 0;
    }

    nav ul li a {
        color: var(--gray);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        /* 185.714% */
        gap: 4px;
    }

    nav ul li::after {
        height: 100%;
        top: auto;
        bottom: 0;
        right: 0;
        background: linear-gradient(0deg, rgba(21, 147, 152, 0.10) 0%, rgba(21, 147, 152, 0.00) 100%);
        max-height: 0;
        max-width: auto;

    }

    nav ul li.active::after {
        height: 100%;
        max-height: 100%
    }

    nav ul li.active {
        border-right: none;
        border-bottom: 4px solid var(--primary);
    }

    main {
        width: 100%;
        margin-right: 0;
        margin-top: 83px;
    }
    .label{
        font-size: 12px;
        line-height: 24px;
    }
    .comment{
        font-size: 14px;
        line-height: 26px;
    }
    .label.count-comment{
        padding: 8px
    }

}


/* ------ */
.modal h5 {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
}

.modal p {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.modal-content {
    border-radius: 20px;
    gap: 32px;
}

.modal a.button {
    width: 212px;
}


.modal input {
    border-radius: 12px;
    border: 1px solid var(--gray-25);
    background: var(--light);
    outline: none;

    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.modal input+label {
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

div:has(.wrong-code) {
    gap: 12px
}

.modal h6 {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    /* 175% */
}

.modal .label {
    border-radius: 15px;
    padding: 14px
}

.modal hr {
    margin: 12px 0;
    width: 100%;
}

.modal .button {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

@media (max-width: 992px) {

    .modal-content {
        gap: 24px;
    }

    .modal h5 {
        font-size: 18px;
        line-height: 32px;
    }

    .modal p {
        font-size: 14px;
        line-height: 26px;
    }

    .modal input::placeholder {
        color: var(--gray);
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .modal a.button {
        width: 100%
    }

    .modal h6 {
        font-size: 16px;
        line-height: 28px;
    }

    .modal .button {
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
    }
}


/* ------ */

.main-aside {
    top: 0;
    left: 0;
    width: 354px;
    /* height: 100vh; */
    padding-top: 72px !important;
    border-right: 1px solid var(--low-contrast);
    background: var(--light);
    flex-shrink: 0;
}

.user-profile .profile-img {
    width: 82px;
    height: 82px;

}

.user-profile .username {
    color: var(--dark);
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.user-profile p {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.user-test-card {
    padding: 12px;
}
    .user-test-card span {
        bottom: 12px;
        left: 12px;
    }


.user-test-card .label {
    padding: 12px;
}

.user-test-card h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.user-test-card p {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.user-test-card p span {
    color: var(--dark);
    font-size: 48px;
    font-weight: 300;
    line-height: 76px;
}

.charge-card {
    padding: 20px 24px;
    background: url(./asset/image/pattern.png) 30px 30px, radial-gradient(67.77% 62.38% at 30.06% 4.36%, rgba(255, 255, 255, 0.21) 0%, rgba(250, 168, 54, 0.07) 100%), linear-gradient(255deg, #FAA836 2.62%, #159398 80.51%);
    ;
    background-blend-mode: overlay, normal;
    background-size: contain, cover, cover;
    background-repeat: repeat, repeat, repeat;
    /* Prominent */
    box-shadow: 0px 4px 44px 0px rgba(39, 42, 61, 0.10);
}

.charge-card>div {
    width: 191px;

}

.charge-card h6 {
    color: var(--light);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

.charge-card p {
    color: var(--light);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;


}

.charge-card a {
    padding: 12px 24px;
    margin-top: 22px;
    color: var(--light);
    font-size: 18px;

    font-weight: 600;
    line-height: 32px;
}

.charge-card svg {
    position: absolute;
    left: 0;
    top: 0;

}
