.comment-card.insert-comment button {
    width: 188px
}

.comment-card.insert-comment .bottom {
    background: var(--low-contrast);
    height: fit-content;
}

.comment-card.insert-comment textarea {
    width: 100%;
    border: none;
    background: transparent;
    outline: none
}

.comment-card.insert-comment .bottom svg path {
    fill: var(--low-contrast);
}

.comment-card.insert-comment textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}


@media (max-width: 992px) {

    .comment-card.insert-comment textarea::placeholder {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    .comment-card.insert-comment textarea::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .comment-card.insert-comment textarea {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}