body>div {
    gap: 68px;
    width: 792px;
}

img {
    width: 332px;
    aspect-ratio: 1;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

p {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.buttons-container {
    width: 544px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
}

@media (max-width: 992px) {
    body {
        height: 100vh;
        padding: 72px 24px 39px;
        margin-bottom: 0;
    }

    body>div {
        gap: 52px;
        /* width: 792px; */
    }

    img {
        width: 248px;
        /* aspect-ratio: 1; */
    }

    h2 {
        font-size: 18px;
        line-height: 32px;
        /* 177.778% */
    }

    p {
        font-size: 14px;
        line-height: 26px;
        /* 185.714% */
    }

}
@media (max-width:768px) {

    .buttons-container {
        width: 100%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-row-gap: 12px;
    }

    .button {
        width: 100%;
        height: 46px;
    }
}